
#tag_editor {
    color: white;
}


.tag_list_holder{
    height: 100px;
    padding: 10px;
    background-color: var(--background_black);
    border-radius: 10px;
    padding: 20px;
    border: none;
    align-content: flex-start;
    align-items: stretch;
}

li {
    background-color: var(--background_light_grey);
    list-style-type: none;
}

li:hover{
    background-color: #505050;
}

h1 {
    top: 200px;
    font-size: 2rem;
    background-color: var(--background_grey);
    color: whitesmoke;
}

form .div {
    background-color: var(--background_grey);
}

.image_holder{
    height: fit-content;
    width: fit-content;
    align-self: center;
}


.tag_viewer {
    background-color: var(--background_grey);
    position: absolute;
    left: auto;
    width: 90%;
    height: 100%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-top: 50px;
}


#tag_creator {
    background-color: var(--background_grey);
    visibility: hidden;
    float: inline-start;
    z-index: 3;
    overflow: hidden;
    padding-top: 15px;
    border: 0;
    box-shadow: 0px 0px 10px 0px #000;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    padding: 25px;
    top: 100px;
    left: 30%;
    background-color: var(--background_black);
    min-width: 300px;
    width: 21%;
    min-height: 550px;
    height: 250px;
    position: absolute;
    margin: 100px;
    opacity: 0;
    transform: 0.2s;
}

.tag_creator div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    padding: 2px;
    align-self: center;
    transform: 0.2s;
}

.input_box{
    position: relative;
    margin: 30px;
    padding: 10px;
    width: 80%;
    border-bottom: 2px solid #fff;
    transform: 0.2s;
}

.input_box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.input_box input {
    width: 80%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 5px 0 5px;
    margin: 10px;
    color: #fff;
    transform: 0.2s;
}

#submit_button {
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    float: inline-start;
    height: min-content;
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    background: var(--spotify_green);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    transform: 0.2s;
}

#submit_button:hover {
    color: white;
}

.tag_list_holder{
    max-height: 100px;
    overflow: hidden;
}

.user_current_tags{
    max-height: 100px;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}

.tag{
    display: inline;
    list-style: none;
    width: max-content;
    float: inline-start;
    height: min-content;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#tag_menu{
    position: relative;
    width: max-content;
    height: max-content;
    display: none;
    z-index: 100;
    background-color: var(--background_light_grey);
    transform: 0.2s;
}

#tag_menu_item{
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: max-content;
    width: max-content;
    padding: 10px;
    margin: 5px;
    border: 1px solid;
    background-color: var(--background_light_grey);
    font-weight: normal;
    white-space: nowrap;
    align-self: center;
}

/* 
#tag_menu_item:hover > #tag_menu_item{
    display:block;
}

#tag_menu_item > #tag_menu_item{
    display:none;
    position:relative;
    top:-20px;
    left:100%;
    width:55px;
}

#tag_menu_item:not([title]):before{
    content:"\2630";
} */

.title_holder{
    height: 50px;
}

.title_holder div {
    display: table-cell;
    margin: 10px;
}

.create_tag_title {
    float: left;
    margin-right: 100px;
    font-size: 1.5rem;
}

.add_tag{
    position: relative;
    display: inline-flex;
    height: 50px;
    width: 50px;
    background-color: var(--background_grey);
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    margin: 5px;
    float: right;
    margin-left: 50px;
    right: 0px;
}

.add_tag_text{
    height: 25px;
    width: 25px;
    align-self: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: var(--background_grey);
    vertical-align: middle;
    align-self: center;
    margin-left: 15.8px;
    margin-right: 17.2px;
    margin-top: 5px;
    margin-bottom: 12.7px;
    
}

.close_tag_creator{
    position: relative;
    height: 16px;
    width: 16px;
    align-self: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: var(--background_grey);
    vertical-align: middle;
    align-self: center;
    margin: 25px;
    left: 17px;
    top: 10px;
}