<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tracking For Spotify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#121313" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> <!-- main stylesheet which is applied across whole site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> <!-- specific stylesheet which is applied to only the login page -->
    
</head>

<body>
    <header>
        <img class="spotify_logo" src="{{url_for('static', filename='imgs/logos/Spotify_Logo_RGB_Green.png')}}" onclick="open_spotify_website()" title="Open Spotify"></img>
    </header>

    <div class="body">
        <h1 class="title">Tracking For Spotify</h1>
        <div class="sign_in_button" href="/login">Login</div>
    </div>
</body>

</html>

<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> <!-- script for icons from ionicons website -->
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- allows for AJAX calls to request data from server -->
<script type=text/javascript src="{{url_for('static', filename='js/login.js')}}"></script>  <!-- includes functions specifically for login page -->
<script type=text/javascript src="{{url_for('static', filename='js/main.js')}}"></script>  <!-- main javascript file which is needed by every page on server -->